{% extends 'accounts/base.html' %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block span %}Login {% endblock span %}

{% block content %}
<h2>Login</h2>
<div class="login-box">
    <div class="text-center" id="text">
    <h1 class="h4 text-gray-900 mb-2">Welcome Back!</h1></div>
    <hr>
            <form class="user" method="POST">
			{% csrf_token %}
			<div class="form-group" >
                {{ login_form.email }}
                <!--input type="text" placeholder="email" id="email"></input-->
				{% for error in login_form.email.errors %}
				<p style="color:red">{{error}}</p>
				{% endfor %}
            </div>
                <br>
                <div class="form-group">
            <!--input type="text" placeholder="password" id="psw"></input--->
                    {{ login_form.password }}
					{% for error in login_form.password.errors %}
					<p style="color:red">{{error}}</p>
					{% endfor %}
					</div>
					{% if login_form.non_field_errors %}
									<div style="color: red;">
										<p> {{login_form.non_field_errors}} </p>
									</div>
								{% endif %}
								<!--div class="form-group">
									<div class="custom-control custom-checkbox small">
										<input type="checkbox" class="custom-control-input" id="customCheck">
										<label class="custom-control-label" for="customCheck">Remember
											Me</label>
									</div>
								</div-->
								<!--button type="submit" class="btn btn-primary btn-user btn-block">Login</button-->

            <br/>
            <div class="btn-group">
                <button class="login" type="submit">Login</button>
            </div>
            </form>
                <br/>
                <div class="btn-group">
                <a class="small" href="{% url 'register' %}"><button class="reg">Register</button></a>
            </div>
            <br/>
            <div class="strike">
                <span>or</span>
            </div>

            <hr></hr>
            </form>

</div>
{% endblock content %}