{% extends 'accounts/base.html' %}

{% block title %}Register{% endblock title %}

{% block span %}Register {% endblock span %}

{% block content %}
<div class="login-box">
    <div class="text-center" id="text">
    <h1 class="h4 text-gray-900 mb-2">Create an Account!</h1></div>
    <hr>
    <form method="post">
    {% csrf_token %}
            <!--input type="text" placeholder="email" id="email"></input-->
        <div class="form-group">
			{{ registration_form.email }}
			{% if registration_form.email.help_text %}
			<small style="color:grey">{{registration_form.email.help_text}}</small>
			{% endif %}

			{% for error in registration_form.email.errors %}
			<p style="color:red">{{error}}</p>
			{% endfor %}
            </div>
            <br/>
            <!--input type="text" placeholder="password" id="psw"></input-->
        <div class="form-group">
			{{ registration_form.username }}
			{% if registration_form.username.help_text %}
			<small style="color:grey">{{registration_form.username.help_text}}</small>
			{% endif %}

			{% for error in registration_form.username.errors %}
			<p style="color:red">{{error}}</p>
			{% endfor %}
            </div>
            <br/>
            <!--input type="text" placeholder="Confirm password" id="psw"></input-->
        <div class="form-group">
            <div>
            {{ registration_form.password1 }}
			{% if registration_form.password1.help_text %}
			<small style="color:grey">{{registration_form.password1.help_text}}</small>
			{% endif %}
        </div>
            <br/>
        <div>
            {{ registration_form.password2 }}
			{% if registration_form.password2.help_text %}
			<small style="color:grey">{{registration_form.password2.help_text}}</small>
			{% endif %}
        </div>
    </div>
        {% for error in registration_form.password1.errors %}
			<p style="color:red">{{error}}</p>
		{% endfor %}
		{% for error in registration_form.password2.errors %}
             <p style="color:red">{{error}}</p>
		{% endfor %}
            <div class="btn-group">
                <button class="reg">Register</button>
            </div>
    </form>
            <br/>
            <div class="strike">
                <span>or</span>
            </div>
            <hr></hr>
            <div class="login-bottom">
                <a href="{% url 'login' %}">Back to login</a>
            </div>
        </div>
{% endblock content %}