{% extends 'registration/base.html' %} {% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-centered">
        <h1 class="mt-5 mb-3">Profile Updation</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-3">
        <form method="post"  novalidate class="user">
          {% csrf_token %}
            {% for field in form %}
							<p>
								{{field.label_tag}}
								{% if field.field.required %}<span style="color: red;">*</span>{% endif %}
								<br>
								{{field }}
								{% if field.help_text %}
									<small style="color:grey">{{field.help_text}}</small>
								{% endif %}


								{% for error in field.errors %}
									<p style="color:red">{{error}}</p>
								{% endfor %}
							</p>
						  {% endfor %}
          <button type="submit" class="btn btn-primary mt-2">Update</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}